html, body {
  
  background-color: #022027;
}
.app{
  color:beige;
  margin-left:35%;
  margin-top:5%;
}
.welcome{
  color:bisque;
  margin-top:5%;
  margin-left:25%;
}
.custom-accordion {
  border-radius: 15%; /* Adjust the border radius as needed */
  margin-bottom: 16px; /* Adjust the margin between accordions */
  width:40%;
  margin-left: 30%;
}

.bodys{
  margin-left: 40%;
  margin-top:3%;
}
.account-details{
  margin-top:-5%;
  color:aliceblue;
  width: 5%;
  margin-left: 80%;
  border-radius: 10;
}
.btndetail{
  background-color:antiquewhite;
}
.recovery{
  width: 80%;
  height: 50%;
  margin-top:45%;
  margin-left:45%;
}
.btnrecovery{
  margin-left:40%;
}
.pharse{
  margin-top:10%;
}
.reorder{
  margin-top:30%;
  margin-left:40%;
  width:95%;
  height: 80%;
}
.btnreorder{
  margin-left:40%;
}
.reorders{
  margin-left:5%;
  margin-bottom:3%;
  
}
.qcards{
  margin-left:55%;
  margin-top: 25%;
  width: 90%;
}
.introcard{
  width:70%;
  height: 70%;
  margin-left:70%;
  margin-top:35%;
}
.plus{
  width:40%;
  margin-left:40%;
  margin-top: 20%;
}
.setup{
  font-size: larger;
margin-top: 20%;
  margin-left: 15%;
}
.btnintro{
  margin-left:35%;
  margin-top: 6%;
}
.dashcard{
  width:90%;
  height:60%;
  margin-left:55%;
  border-radius: 10px;
  margin-top:20%;
}
.btnresume{
margin-left: 35%;

}

.key{
  margin-left:15%;
  margin-top:-5%;
}
.coin{
  margin-left:38%;
  font-size: xx-large;
  margin-top:-3%;
}
.btns{
  margin-left:7%;
}
.assetbtn{
  margin-right: 60%;
  margin-bottom: 50%;
  border-color: #022027;
  
}
.activitybtn{
  margin-bottom: 50%;
  border-color: #022027;
}
.form-select{
  background-color:antiquewhite;
  border-radius: 5px;
  width:25%;
  margin-top:5%;
}
.resumebtn{
  margin-left:30%;
  margin-top:10%;
  margin-bottom:-20%;
  
}
.sendcard{
  width:80%;
  height:70%;
  margin-left:60%;
  margin-top:30%;
}
.btnsend{
  margin-left:40%;
  margin-top:4%;
  margin-bottom:10%;
}
.login{
  margin-top:40%;
  margin-left:65%;
  width:80%;
}
.fsell{
  width:70%;
}
.selldetails{
  width:90%;
  margin-bottom:5%;
}
.sellcards{
  margin-top:60%;
  margin-left:50%;
  width:120%;
 
}
.sellbtn{
  margin-top:6%;
  margin-left:30%;
}
.form-control{
  margin-bottom: 5%;
}
.selleth{
  font-size:xx-large;
  margin-left:30%;
}
.sellorder{
  margin-left:30%;
}
.sellbtns{
  margin-left:40%;
}
.finishbtn{
  margin-left:45%;
}
.buycard{
  margin-top:45%;
  margin-left:50%;
  width:120%;
}
.dashboardtwo{
  width:110%;
  height:60%;
  margin-left:55%;
  border-radius: 10px;
  margin-top:20%;
}